<ion-header>
  <ion-toolbar>
    <ion-title>formAgenda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form  (ngSubmit)="create()">
    <ion-item>
      <ion-label position="floating" >Nom de l'agenda</ion-label>
      <ion-input type="text" [(ngModel)]="agenda.nom"  name="nom"></ion-input>
    </ion-item>
    <ion-button type="submit" cl> Creez un agenda</ion-button>
  </form>

</ion-content>
