<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-back-button defaultHref=""></ion-back-button>
    <ion-title>add-evenement</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label position="floating">Titre</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Date Début</ion-label>
    <ion-datetime value="2019-01-01" min="1990-02" max="2100"
                  dayShortNames="lun, mar, mer, jeu, ven, sam, dim"
                  [pickerOptions]="customPickerOptions"
                  displayFormat="DDD. DD MMM, YYYY"
                  monthShortNames="jan, feb, mar, apr, mai, jun, jul, aug, sep, oct, nov, dec"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Date Fin</ion-label>
    <ion-datetime value="2019-01-01" min="1990-02" max="2100"
                  dayShortNames="lun, mar, mer, jeu, ven, sam, dim"
                  displayFormat="DDD. DD MMM, YYYY"
                  monthShortNames="jan, feb, mar, apr, mai, jun, jul, aug, sep, oct, nov, dec">
    </ion-datetime>
  </ion-item>

  <ion-item (click)="presentModal()" >Sous calendrier</ion-item>
  <ion-list>
    <ion-item *ngFor="let entry of cals">
      <ion-label>{{entry.val}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-item (click)="addUsers()">Participants</ion-item>
  <ion-list>
    <ion-item *ngFor="let entry of users">
      <ion-label>{{entry.val}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-label position="floating">Lieu</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Description</ion-label>
    <ion-input></ion-input>
  </ion-item>
</ion-content>
