<ion-header>
  <ion-toolbar color="primary">
    <ion-title>agenda</ion-title>
      <ion-icon name="add" slot="end" class="icon" (click)="openModalForm()"></ion-icon>
  </ion-toolbar>

</ion-header>

<ion-content padding>
    <ion-list>
        <ion-list-header>Single Selection</ion-list-header>

        <ion-item>
            <ion-label>Gender</ion-label>
            <ion-select placeholder="Select One">
                <ion-select-option value="f">Female</ion-select-option>
                <ion-select-option value="m">Male</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Hair Color</ion-label>
            <ion-select value="brown" okText="Okay" cancelText="Dismiss">
                <ion-select-option value="brown">Brown</ion-select-option>
                <ion-select-option value="blonde">Blonde</ion-select-option>
                <ion-select-option value="black">Black</ion-select-option>
                <ion-select-option value="red">Red</ion-select-option>
            </ion-select>
        </ion-item>

    </ion-list>
    <ion-card *ngFor="let agenda of agendas">
        <ion-card-header>
            <ion-card-title>{{agenda.nom}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-item>
                <ion-icon name="person" slot="start"></ion-icon>
                <ion-label>nombre d'utilisateur: {{ numberUser[agenda?.id]}}  </ion-label>
            </ion-item>
            <ion-item>
                <ion-icon name="alarm" slot="start"></ion-icon>
                <ion-label>Créé le:{{agenda?.dateCreation | date}}  </ion-label>
            </ion-item>
        </ion-card-content>
    </ion-card>




</ion-content>
