<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{currentDate | date}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides #slider [options]="slideOpts" (ionSlideDidChange)="onChange($event)" (ionSlideNextEnd)="onSlideNextEnd()" (ionSlidePrevEnd)="onSlidePrevEnd()">
    <ion-slide >
      <app-calendrier #prevWeek *ngIf="events" [events]="events" [options]="options1"></app-calendrier>
    </ion-slide>
    <ion-slide >
      <app-calendrier #currentWeek *ngIf="events" [events]="events" [options]="options2"></app-calendrier>
    </ion-slide>
    <ion-slide >
      <app-calendrier #nextWeek *ngIf="events" [events]="events" [options]="options3"></app-calendrier>
    </ion-slide>
  </ion-slides>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="navigateToAdd_evenement()">
      <ion-icon name="add" ></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
