<ion-header>
  <ion-toolbar>
    <ion-icon size="large" name="checkmark" (click)="dismiss()"></ion-icon>
    <ion-title>Select users</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let entry of form">
      <ion-label>{{entry.val}}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>